<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Main Page</title>
    <link rel="stylesheet" type="text/css" href="/style.css">
    <style>
        .link-container {
            text-align: center;
        }
    </style>
</head>
<body>
<div class="container">
    <h2>Main Page</h2>
    <div class="link-container">
        <a href="/charges" class="button">Accrued Charges List</a><br><br>
        <a href="/customers/" class="button">Customer List</a><br><br>
        <a href="/installations/" class="button">Installation List</a><br><br>
        <a href="/payments/list" class="button">Payment list</a><br><br>
    </div>
</div>
</body>
</html>