<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Payments Made List</title>
    <link rel="stylesheet" type="text/css" href="/style.css">
</head>
<body>
<div class="container">
    <a href="/" class="button">⇇</a>
<h2>Payments Made List</h2>
<table border="1">
    <thead>
    <tr>
        <th>ID</th>
        <th>Amount</th>
        <th>Date</th>
        <th>Customer ID</th>
        <th>Installation ID</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="payment : ${paymentsMade}">
        <td th:text="${payment.id}"></td>
        <td th:text="${payment.amount}"></td>
        <td th:text="${payment.date}"></td>
        <td th:if="${payment.customer != null}" th:text="${payment.customer.id}"></td>
        <td th:unless="${payment.customer != null}">N/D</td>
        <td th:if="${payment.installation != null}" th:text="${payment.installation.id}"></td>
        <td th:unless="${payment.installation != null}">N/D</td>
    </tr>
    </tbody>
</table>
<a href="/payments/add" class="add-button">Add Payment</a>
</div>
</body>
</html>
